
* {
  box-sizing: border-box;
}

html {
  background-color: #394264;
}

body {
  position: relative;
  width: 98%;
  height: 96%;
  margin: 0.8em auto;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #1F253D;
  text-align: center;
  border-radius: 4px;
  
}


